<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File list</title>
</head>
<body>
    <h3>you are in the "{{ folder }}" folder</h3>
{% if dir_list and file_list %}
    dirs:
    <ul>
    {% for dir in dir_list %}
        {#<li><a href="{% url 'trash:view_directory' dir%}">{{ dir }}</a></li>#}
        <li>{{ dir }}</li>
    {% endfor %}
    </ul>
    files:
    <ul>
    {% for file in file_list %}
        <li>{{ file }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No dirs & files are available.</p>
{% endif %}

</body>
</html>